body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #363636;
  text-transform: uppercase;
  
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation {
  line-height: 26px;
  color: #000000;
  list-style: none;
}

.container__introduction {
  text-align: center;
}

.container__sedona {
  font-size: 50px;
  line-height: 55px;
  font-weight: 700;
  color: #FFFFFF;  
}

.container__definition {
  font-size: 21px;
  line-height: 26px;
}

.definition__head {
  font-size: 14px;
  line-height: 26px;  
  text-align: center;
}

.features__item__header {
  font-size: 21px;
  color: #000000;
}

.features__item {
  background-color: #EDEDED;
  text-align: center;
}

.features__item.features__item--blue {
  background-color: #90B2D0;
}

.features__item--blue .features__item__header {
  color: #FFFFFF;
}

.features__item--blue .features__item__text {
  color: #FFFFFF;
}

.features__item--blue .features__item__number {
  color: #FFFFFF;
}

.features__plushka {
  text-align: center;
}

.features__plushka__header {
  font-size: 21px;
  color: #000000;
}

.interest__header {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
}

.interest__text {
  line-height: 24px;
  text-align: center;
}

.interst__form {
  font-size: 14px;
  line-height: 26px;
  color: #000000;  
}

.interst__form__div {
  background-color: rgb(112, 99, 88);
  text-align: center;
}

.interst__form .interst__form__head {
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
}

.interst__form input {
  font-size: 14px;
  line-height: 26px;
  color: #000000;  
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: rgb(144, 178, 208);
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.footer__tag {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.footer {
  background-color: #FFFFFF;
  opacity: 50%;
}

.footer__social__logo {
  text-decoration: none;
}

.footer__copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.footer a {
  color: #000000;
}


body.inner {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  
  background-color: #EFEFEF;  
}

body.inner .main-header {
  font-size: 14px;
  line-height: 26px;	
}

body.inner .filter .filter-checkbox {
  font-size: 14px;
  line-height: 21px;
}

body.inner .filter-infrastructure {
  border: 0;
}

body.inner .filter-type-housing {
  border: 0;
}

/*body.inner .filter-cost-day input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}*/

body.inner .filter-cost-day {
	border: 0;
}

body.inner #filter-cost-day-min {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #DDDDDD;  
}

body.inner #filter-cost-day-max {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #DDDDDD;  
}

body.inner .filter-cost-day-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #DDDDDD;  
}

body.inner .container__find__head {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.container__find__sorttext, .container__find__type__item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}

body.inner .footer__copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
}

body.inner .container__find__type__item {
	color: #000000;
	text-decoration: underline;
	text-decoration-style: dashed;
	opacity: .3;
}

body.inner .container__find__type__item--checked {
	color: #90b1d0;
	text-decoration: none;
	opacity: 1;
}

body.inner .container__result__item__head {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.container__result__item__type, .container__result__item__price {
  font-size: 14px;
  line-height: 21px;
  color: #363636;	
  font-weight: normal;
}

.container__result__item__button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: black;	
}

.container__result__item__button--more {
  background-color: rgb(144, 177, 207);
}

.container__result__item__button--bron {
  background-color: rgb(112, 99, 88);
}

.container__result__item__rating, .container__result__item__amountrate {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #666666;
  background-color: rgb(242, 242, 242);
}

.footer__social__logo {
  font-size: 14px;
  line-height: 21px;  
}

.main-navigation a:hover {
  color: #90b1d0;
}

.main-navigation a:active {
  opacity: .3;
}

.site-navigation--active a {
  color: #706358;
}

body.inner .filter-cost-day-button:hover {
  color: #000000;
  background-color: #FFFFFF; 
}

body.inner .container__find__type__item:hover {
  color: #90b1d0;
  opacity: 1;
}

body.inner .container__find__type__item:active {
  color: #000000;
  opacity: 1;
  text-decoration: none;
}

.container__result__item__button--more:hover {
  background-color: #799cbd;
}

.container__result__item__button--bron:hover {
  background-color: #5c4f45;
}

.container__result__item__button--more:active {
  background-color: #6c94ba;
  color: #98b4cf;
}


.container__result__item__button--bron:active {
  background-color: #4d4036;
  color: #837a73;
}

body.inner .container__result__item__head:hover {
  color: #90b1d0;
}

body.inner .container__result__item__head:active {
  opacity: .3;
}

.interst__form__head:hover {
  background-color: #5c4f45;
}

.interst__form__head:active {
  background-color: #4d4036;
  color: #837a73;
}

/*#interst__form__arrival, #interst__form__leaving,  .interst__form__adult, .interst__form__children{
  background-color: #f2f2f2;
}*/

#interst__form__arrival, #interst__form__leaving {
	background-color: #f2f2f2;
	border: none;
}

#interst__form__arrival:hover {
	background-color: #eaeaea;
}

#interst__form__arrival:focus {
	background-color: #FFFFFF;
	border: solid #e4e4e4 2px;
}

#interst__form__leaving:hover {
	background-color: #eaeaea;
}

#interst__form__leaving:focus {
	background-color: #FFFFFF;
	border: solid #e4e4e4 2px;
}

#interst__form__adult, #interst__form__children {
	background-color: #f2f2f2;
	border: none;
}

#interst__form__adult:hover {
	background-color: #eaeaea;
}

#interst__form__adult:focus {
	background-color: #FFFFFF;
	border: solid #e4e4e4 2px;
}

#interst__form__children:hover {
	background-color: #eaeaea;
}

#interst__form__children:focus {
	background-color: #FFFFFF;
	border: solid #e4e4e4 2px;
}

.search-button:hover {
  background-color: #799cbd;
}

.search-button:active {
	background-color: #6c94ba;
  color: #98b4cf;
}

/*#filter-cost-day-min, #filter-cost-day-max {
	background-color: #f2f2f2;
	border: none;
}

body.inner #filter-cost-day-min:hover {
	background-color: #eaeaea;
}

body.inner #filter-cost-day-min:focus {
	background-color: #FFFFFF;
	border: solid #e4e4e4 2px;
}

body.inner #filter-cost-day-max:hover {
	background-color: #eaeaea;
}

body.inner #filter-cost-day-max:focus {
	background-color: #FFFFFF;
	border: solid #e4e4e4 2px;
}*/





/*стили для сетки*/





body {
	width: 1200px;
  margin: 0 auto;
}

.main-navigation {
	margin: 0;
	padding: 0;
	/*border: solid yellow 2px;*/
}

.site-navigation {
	display: flex;
	min-height: 56px;
	justify-content: flex-start;
	/*border: solid black 2px;*/
	margin: 0;
	padding: 0;
	margin-left: 20px;
	margin-right: 20px;
}

/*.main-header-logo {
	margin: 0;
  margin-left: -69px;
  padding: 0;
	position: absolute;
	top: 0px;
	left: 50%;
}*/

.site-navigation li {
	width: 150px;
	padding-top: 14px;
	margin: 0;
  /*border: solid red 2px;*/
  text-align: center;
  padding: 0;
  padding-top: 15px;
  /*outline: 1px solid #666;*/
  height: 41px;
}

.site-navigation li:nth-child(1) {
	margin-left: 22px;
}

.site-navigation li:nth-child(2) {
	margin-left: 93px;
}

.site-navigation li:nth-child(3) {
	margin-left: 90px;
  margin-top: -15px;
  z-index: 1;
}

.site-navigation li:nth-child(4) {
	margin-left: 92px;
}

.site-navigation li:nth-child(5) {
  margin-left: 95px;
}

.wrap {
  background-image: url("../img/sedona-index-1200.jpg");
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top center;
}

body .wrap .main-header, .container {
  opacity: 0.5;
}

.container__introduction__back {
  /*opacity: 0.5;*/
  height: 506px;
  width: 100%;
}

.container__introduction {
  /*border: solid black 2px;*/
}

.container__introduction__welcome {
  position: relative;
  /*margin-left: -229px;*/
  top: -437px;
  /*border: solid black 2px;*/
  /*left: 50%;*/
}

.container__introduction__shape {
  position: relative;
  top: -419px;
  /*border: solid black 2px;*/
}

.container__definition {
  margin: 0 auto;
  padding: 0;
  /*border: solid black 2px;*/
  margin-top: -365px;
  width: 450px;
}

.definition__head {
  margin-top: 27px;
}

.features {
  margin-top: 51px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

.features div {
  min-width: 400px;
  min-height: 255px;
  height: 256px;
  /*outline: solid black 2px;*/
}

.features .features__plushka {
  height: 330px;
  width: 400px;

}

.features img {
  height: 256px;
}


.features__item {
  width: 400px;
}


/*сделать картинки несжатыми!!!!*/


.interest {
  margin-top: 50px;
}

.interest__text {
  margin: 0 auto;
  width: 500px;
}

body .interest a.interest__map__a img {
  margin: 0;
  padding: 0; 
  margin-top: 132px;
  width: 1200px;
  height: 468px;
}

.footer {
  display: flex;
  /*outline: solid black 2px;*/
  height: 120px;
}

.footer p, ul {
  /*outline: solid black 2px;*/
}

.footer__tag {
  margin-left: 132px;
  padding-top: 25px;
}

.footer__social {
  margin-left: 230px;
}

.footer__copyright {
  width: 210px;
  margin-left: 200px;
  vertical-align: center;
  /*padding-top: 20px;*/
}

.interst__form {
  position: absolute;
  width: 600px;
  height: 500px;
  /*outline: solid black 2px;*/
}

.interst__form__div, .interst__form__head {
  padding: 0;
  margin: 0;
}

.interst__form__div {
  height: 80px;
}

.interst__form__head {
  vertical-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}